<div id="map"></div>
<script>

$(function() {
	
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm9kZXJpYyIsImEiOiJja2t2ajNtMXMxZjdjMm9wNmYyZHR1ZWN3In0.mM6CghYW2Uil53LD5uQrGw';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-68.13734351262877, 45.137451890638886],
        zoom: 12
    });
    
	$.getJSON('https://tranquil-garden-84812.herokuapp.com/region/{{page.region_id}}/geojson', function (geojson) {
		var bbox = turf.extent(geojson);
		var center = turf.center(geojson);
		
<!--		map.on('load', function () {-->
			map.addSource('regionSource', {
				'type': 'geojson',
				'data': geojson
			});
			map.addLayer({
				'id': 'regionSourceLayer',
				'type': 'fill',
				'source': 'regionSource',
				'layout': {},
				'paint': {
					'fill-color': '#088',
					'fill-opacity': 0.8
				}
			});
			
			map.fitBounds(bbox, {padding:20});
<!--		});	-->
	});
	
});
</script>
